.DS_Store
node_modules
/dist
# 测试: 新建 demo 文件夹 ( 配置忽视文件 )
demo

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
